body {
    font-family: 'Roboto', sans-serif;
}

div, section, header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

strong {
    font-weight: bold;
}
h2 {
    font-weight: bold;
    font-size: 23px;
}


header {
    position: fixed;
    z-index: 1;
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 header h1 {
     font-size: 37px;
     color: white;
     font-weight: bold;
 }

 section{
    padding-top: 69px;
 }
 section h2{
    font-size: 20px;
    margin-top: 63px;
 }

.hidden{
    display: none;
}

.quizz-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 146px auto 0px;
    width: 1051px;
}
.emptyquizz-list {
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px #D4D4D4 dashed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}