body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

div, section, header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

strong {
    font-weight: bold;
}
h2 {
    font-weight: bold;
}

header {
    position: fixed;
    z-index: 2;
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header h1 {
    font-size: 37px;
    color: white;
    font-weight: bold;
}

section{
    padding-top: 69px;
} 

section input {
    width: 100%;
    height: 46px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

section span {
   margin-bottom: 14px;
}

section input.alert{
   border: 3px solid red;
}

section input::placeholder {
    font-size: 19px;
    font-style: italic;
    color: #bababa;
}

section.hidden-section{
    display: none;
}

.quizz-list .hidden{
    display: none;
}

.quizz-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto 0;
    padding-top: 146px;

    width: 1051px;   
}
.emptyquizz-list {
    width: 100%;
    height: 181px;   

    background-color: #FAFAFA;

    border-radius: 5px;
    border: 1px #D4D4D4 dashed;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.emptyquizz-list span {
    width: 250px;
    display: flex;
    text-align: center;
  
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #B9B9B9;

    margin-top: 30px;
}

.createquizz-button {
    border-radius: 50px;
    border: 1px dashed #EC362D;   
   
    font-weight: 400;
    font-size: 21px;
    color: #EC362D;

    padding: 8px 24px;
    margin: 31px auto;
    cursor: pointer;
}

.yourquizzes-list {
    width: 100%;    
}

.yourquizzes-header{
    width: 100%;
    flex-direction: row;
    justify-content: left;    
}
.yourquizzes-header h2, .all-quizzes h2{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 17px;
}

.yourquizzes-header ion-icon{
    color: red;
    font-size: 30px;
}
.container-yourquizzes, .container-allquizzes{    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.yourquizzes-list .yourquizzes-options {
    position: absolute;
    width: 43px;
    height: 42px;
    right: 0;
    background-color: #EC362D;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
}

.yourquizzes-list .yourquizzes-options img {
    width: 20px;
    height: 22px;
}

.yourquizzes-list .yourquizzes-options.edit-option{
    top: 10px;
    border-top-left-radius: 10px;
}

.yourquizzes-list .yourquizzes-options.delete-option {
    top: 52px;
    border-bottom-left-radius: 10px;
}

.quizz-thumb {
    position: relative;
    margin: 12px 15px 0px 0px;
    width: 340px;
    height: 183px;
    cursor: pointer;
}

.quizz-thumb:nth-child(3n) {
    margin-right: 0px;
}

.quizz-thumb img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.quizz-thumb .grad {
    position: absolute;
    width: 340px;
    height: 90px;
    border-radius: 5px;
    bottom: 2px;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.quizz-thumb-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 17px;
    font-family: roboto;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    word-break: break-word;
}

.all-quizzes {
    width: 100%;
    margin: 48px 0px;
}

.all-quizzes h2{
    width: 100%;
    flex-direction: row;
    justify-content: left;      
}


.quizz-page .hidden{
    display: none;
}

.quizz-page {
    padding-top: 69px;
    word-break: break-word;
}

.quizz-page .quizz-banner {
    width: 100%;
    height: 18vw;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: #FFFFFF;
    font-size: 39px;

    overflow: hidden
}

.quizz-page .quizz-banner .quizz-title {
    z-index: 1;
}

.quizz-page .quizz-banner .banner-image {
    object-fit: cover;

    width: 100%;
    position: absolute;
}

.quizz-page .quizz-banner .shadow {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    background-color: rgba(0, 0, 0, 0.57);
}

.quizz-page .question {
    width: 759px;

    margin: 40px auto;    
    padding-top: 25px;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;

    scroll-margin: 79px;
}

.quizz-page .question .question-title {
    width: 688px;
    height: 138px;

    margin: 0 35px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FF0000;

    text-align: center;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.quizz-page .question .question-title.black{
    color: black;
}

.quizz-page .question .answers {
    display: flex;
    flex-wrap: wrap;

    margin-left: 35px;
}

.quizz-page .question .answers .option {
    width: 45.5%;

    display: flex;
    flex-direction: column;

    margin-right: 28px;
    margin-bottom: 12px; 
    cursor: pointer;
}

.quizz-page .question .answers .option img {
    width: 100%;
    height: 196px;

    object-fit: cover;
}

.quizz-page .question .answers .option span {
    padding: 15px 0;

    font-weight: 700;
    font-size: 20px;
    color: #000000;  
}

.quizz-page .question .answers .wrong span {
    color: #FF4B4B;
}

.quizz-page .question .answers .correct span {
    color: #009C22;
}

.quizz-page .question .answers .not-selected {
    opacity: 30%;
}

.quizz-page .result {
    width: 759px;
    margin: 0 auto;
    padding: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    scroll-margin: 79px;
}

.quizz-page .result .score {
    width: 100%;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #EC362D;
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.quizz-page .result .description {
    width: 100%;
    display: flex;
    font-size: 19px;
    font-weight: 700;
    color: #484848;
}

.quizz-page .result .description img {
    width: 364px;
    padding-right: 21px;
}

.quizz-page .restart-button {
    width: 260px;
    height: 52px;
    display: block;
    margin-top: 20px;
    margin: 57px auto 20px;
    background-color: #EC362D;
    border-radius: 15px;
    font-size: 21px;
    color: #FFF5F4;
}

.quizz-page .home-button {
    display: block;
    margin: 0 auto 50px;
    color: #818181;
    font-size: 21px;
    background-color: inherit;
}






.quizz.create h2{
    font-size: 23px;
    margin-top: 63px;
}
.quizz.create button {
    margin-top: 80px;
    margin-bottom: 35px;
    padding: 12px 35px;
    background-color: #EC362D;
    font-size: 21px;
    color: white;
    border: none;
    border-radius: 15px;
}
.quizz.create button:hover {
    cursor:pointer
}
.quizz.create .container {
    position: relative;
     margin-top: 27px;
     width: 600px;
     padding: 21px 20px 24px 16px;
     background-color: #ffffff;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz.create .container span{
    color: red;
    font-weight: bold;
}

.quizz.create .container.empty{
    position: relative;
    padding: 21px 20px 12px 16px;
}
.quizz.create .container img{
    position: absolute;
    right: 16px;
    top: 13px;
}

.quizz.create .container.empty img{
    top: 18px;
}
.quizz.create .container.empty img:hover{
    cursor: pointer;
}
.quizz.create .container .container-in{
    width: 100%;
}
.quizz.create .container.empty .container-in{
    display: none;
}

.quizz.create h3 {
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
    padding: 0px 0px 12px 0px;
}

.quizz.create h3:not(:first-child){
    margin-top: 14px;
}

#min-levels {
    position: absolute;
    right: auto;
    top: 13px;
}


@media (max-width: 1100px) {
    .quizz-list {
        width: 340px;
        padding-top: 107px;
    }


    .quizz-page .quizz-banner {
        height: 142px;
        font-size: 19px;
    }

    .quizz-page .question {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        padding: 20px 15px 0;
        scroll-margin: 39px;
    }

    .quizz-page .question .question-title {
        width: 100%;
        height: 89px;
        margin: 0;
        margin-bottom: 25px;
        font-size: 19px;
        padding: 0 15px;
    }

    .quizz-page .question .answers {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .quizz-page .question .answers .option {
        width: 49%;
        margin-right: 2%;
    }

    .quizz-page .question .answers .option:nth-child(even) {
        margin-right: 0;
    }

    .quizz-page .question .answers .option span {
        font-size: 13px;
    }

    .quizz-page .question .answers .option img {
        height: 113px;
    }

    .quizz-page .result {
        width: 100%;
        scroll-margin: 39px;
    }

    .quizz-page .result .score {
        font-size: 19px;
    }

    .quizz-page .result .description {
        flex-direction: column;
    }

    .quizz-page .result .description img {
        width: 100%;
        padding-right: 0;
        padding-bottom: 15px;
    }

    .quizz-page .restart-button {
        width: 260px;
        height: 52px;
        margin: 34px auto 12px;
        font-size: 18px;
    }

    .quizz-page .home-button {
        font-size: 18px;
    }




    
    .quizz.create h2{
        font-size: 20px;
        margin-top: 23px;
    }
    .quizz.create button {
        margin-top: 25px;
        font-size: 18px;
    }
    .quizz.create .container {
        position: relative;
         margin-top: 27px;
         width: 100%;
         padding: 21px 20px 24px 16px;
         background-color: #ffffff;
         box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    }
}

