body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

div, section, header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

strong {
    font-weight: bold;
}
h2 {
    font-weight: bold;
    font-size: 23px;
}


header {
    position: fixed;
    z-index: 1;
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header h1 {
     font-size: 37px;
     color: white;
     font-weight: bold;
}

 section{
    padding-top: 69px;
 }
 section h2{
    font-size: 20px;
    margin-top: 63px;
 }

<<<<<<< HEAD
.hidden{
    display: none;
}

.quizz-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 146px auto 0px;
    width: 1051px;
}
.emptyquizz-list {
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px #D4D4D4 dashed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
=======
 section input {
     width: 100%;
     height: 46px;
     border: 1px solid #d1d1d1;
     border-radius: 5px;
 }

 section span {
    margin-bottom: 14px;
 }

 section input.alert{
    border: 3px solid red;
}
 
 section input::placeholder {
     font-size: 19px;
     font-style: italic;
     color: #bababa;
 }

 section.hidden-section{
     display: none;
 }

.quizz.create button {
    margin-top: 35px;
    padding: 12px 35px;
    background-color: #EC362D;
    font-size: 21px;
    color: white;
    border: none;
    border-radius: 15px;
}

.quizz.create.basic .container {
     margin-top: 27px;
     width: 600px;
     padding: 21px 20px 24px 16px;
     background-color: #ffffff;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
>>>>>>> 5f2125c9fc51d1da1c63f8c1ef9ca384511a904b
